table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
    font-weight: bold;
}

.my-table-class {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.my-table-class td, .my-table-class th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.my-table-class th {
    background-color: #dddddd;
    font-weight: bold;
}
